<section class="panel" id="info">
  <div class="section-heading">
    <p class="eyebrow">Info</p>
  </div>
  <div class="content-with-art content-with-art--info">
    <div class="content-with-art__body info-box">
      <p>Welcome to the Ur-Quan Masters Summer 2026 League!</p>
	  <p>Those who have not received their psychic telecasts yet, Pistol Shrimp Games is developing a new Star Control game: <a href="https://www.kickstarter.com/projects/pistolshrimp/free-stars-children-of-infinity">The Children of Infinity</a>! Before this new game releases, it's time to play one more Ur-Quan Masters tournament, just like in the good old days.</p>
      <p>This tournament is being played over the <a href="https://discord.gg/ssNsusCV">New Alliance of Free Stars Discord</a>, and is open to everyone. If the invite link is broken, please contact the organizer, Gekko, at the email jesse.kaukonen@gmail.com</p>
      <p>The winner of this tournament will get a small prize!</p>
      <p class="eyebrow">What you need to participate</p>
      <ul>
        <li><a href="https://github.com/uqm-arena/balance-mod/releases">Shiver's Balance Mod</a></li>
        <li>Optionally, the ability to host games by having port forwarding configured.</li>
        <li>A positive mindset</li>
      </ul>
	  <p class="eyebrow">Schedule</p>
	  <p>The tournament starts on 28th of June 2026. Sign up before that on the New Alliance of Free Stars Discord!</p>
      <p class="eyebrow">Format</p>
      <p>The tournament is a long-form round robin where everyone plays against everyone else once. Due to time zone differences, the games are played when people are available for them, and the league is expected to last at least a month.</p>
      <p>Players self-organize their matches by looking at the scoreboard to see which games they have yet to play and do their best to schedule games with their yet-to-be-faced opponents. Ideally, everyone handles their games as soon as they can.</p>
      <p>In case we get an unprecedented amount of players, we'll do a Swiss tournament format instead.</p>
      <p class="eyebrow">Recordings</p>
      <p>If you wish your games to appear on the <a href="https://www.youtube.com/watch?v=_VZpNKJqGUE&list=PLmJR8GDzxpUt5BfRkFpnYtsmxXVEONnJy">Youtube playlist</a>, provide recordings of them to the organizer.</p>
    </div>
    <figure class="section-art section-art--info">
      <img src="images/intro-003.png" alt="Ur-Quan Masters landscape illustration">
    </figure>
  </div>
</section>
