<section class="panel" id="rules">
  <div class="section-heading">
    <p class="eyebrow">Rules</p>
  </div>
  <div class="content-with-art content-with-art--rules">
    <ul class="rules-list content-with-art__body">
      <li>A maximum of 200 points in a fleet.</li>
      <li>No duplicate ships allowed.</li>
      <li>If there is a stalemate, the faster ship takes the initiative.</li>
      <li>Report the results to the organizer over Discord and remember to include the remaining fleet points, which are used as a tie breaker if two players have the same final score at the end of the league.</li>
      <li>If two players cannot get a game played within a reasonable time, the player who cannot make the time will lose by default.</li>
      <li>If neither party is able to host a game, the game defaults to a draw.</li>
      <li>The organizer has the final word in every dispute.</li>
    </ul>
    <figure class="section-art section-art--rules">
      <img src="images/pkunk-000.png" alt="Pkunk ship artwork">
    </figure>
  </div>
</section>
